@import "./style/variableSass/variables.scss";
@import "../src/style/pages/error.scss";
@import "../src/style/pages/home.scss";
@import "../src/style/pages/apropos.scss";
@import "../src/style/pages/card.scss";
@import "../src/style/layout/footer.scss";
@import "../src/style/layout/nav.scss";
@import "../src/style/components/banner.scss";
@import "../src/style/components/gallery.scss";
@import "../src/style/components/slider.scss";
@import "../src/style/components/collapse.scss";
@import "../src/style/media-screen.scss";
body {
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
  list-style-type: none;
}

.card_details,
.gallery-container_details {
  text-decoration: none;
  list-style-type: none;
}
link {
  text-decoration: none;
  list-style-type: none;
}




