.bannerHome {
    max-width: 100%;
    height: 223px;
    padding: 0% 20%;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-style: normal;
    border-radius: 25px;
    text-shadow: 0 0 25px black;
    .title-banner{
padding-top:5%;
    }
  }
  .banner-apropos {
    max-width: 100%;
    height: 223px;
    background-size: cover;
    background-position: bottom;
    border-radius: 25px;
    margin: 0 45px;
    padding: 0;
  }

