.apropos-home{
  margin: 0 45px;

}
  .collapse-handler{
    color: #fff;
    background: $mainColor;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    border: none;
    padding: 15px;
    width: 100%;
   

    cursor: pointer;
  }
.apropos-list {
    list-style: none;
    padding: 0;
    margin:0 10%;
    margin-top: 5%;
    li{
      margin-bottom: -15px;
    }
  }
  
  
  .collapse-text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.3s ease, margin 0.2 ease-in-out;
    color: $mainColor;
    font-weight: 200;
    background: #f6f6f6;
    padding: 25px;
    position: relative;
    top: -10px;
    z-index: -1;
    margin: 0;
  }
  
  .collapse-text.visible {
    max-height: 200px; 
    opacity: 1;
    margin-bottom: 15px;
  }

  
  
  
  
  