.apropos-home{
  margin: 0 45px;
}
  .collapse-handler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: $mainColor;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
.apropos-list {
    margin: 2% 10%;
  }

  .collapse-text {
    position: relative;
    opacity: 0;
    color: $mainColor;
    background: #f6f6f6;
    padding: 15px;
    transform: translateY(-10px);
    display: none;
  }
  .collapse-text.visible { 
    opacity: 1;
    display: block;

    ul{
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 142.6%;
    }
  }

  
  
  
  
  