@import "../variableSass/variables.scss";
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 45px;
  list-style-type: none;
}
.banner-container {
  max-width: 100%;
  padding: 2.5% 20%;
  background-size: cover;
  text-align: center;
  color: #fff;  
  font-size: 48px;
  font-style: normal;
  border-radius: 25px;
  text-shadow: 0 0 25px black;
}
.banner-card{
  width: 100%;
  height: 415px;
  border-radius: 15px;
  }
  h2{
  color: #FF6060;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  }
  .card-container{
  margin: 0 8%;
  }
  .profile-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_title{
      margin: 0;
      align-items: center;
          h2, p{
              margin: 0;
          }
  button{
      border: none;
      background: $mainColor;
      border-radius: 10px;
      color: white;
      padding: 1% 7%;
      margin: 10px 5px 10px 0;
  }}}
  .profile-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  color:$mainColor;
  align-self:flex-start;
  flex: 0 70px;
  text-align: end;
  
  h5{
  font-family: $mainFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0 10px;
  }}
  .picture-profile{
  border-radius: 50%;
  width: 80px;
  }
  
  .text-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: $mainColor;
    color: #fff;
    border-radius: 10px;
    align-items: center;
 
  }
  

  .sliderImg {
    position: relative;
  
    .imgAccommodation {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    .arrows {
      position: absolute;
      display: flex;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      justify-content: space-between;
  
      img {
        cursor: pointer;
        width: 24px; 
      }
  
     
    }
    .numberImg {
      
    position: absolute;
      margin: 0;
      font-size: 14px;
      color: #fff;
      top: 12rem;
      right: 50%;
    }
  }
  

  .locations-collapse{

    display: flex;
    justify-content: space-between;
  }

  .collapse-bar{
  
    width: 50%;
  }